<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- layui css -->
    <link rel="stylesheet" href="/assets/layui/dist/css/layui.css" media="all">
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/layui/dist/layui.js" charset="utf-8"></script>

</head>
<style type="text/css">
    .layui-table-cell {
        height: auto;
        line-height: 28px;
        padding: 0 15px;
        position: relative;
        /*overflow: hidden;*/
        text-overflow: ellipsis;
        white-space: normal;
        box-sizing: border-box;
        overflow: auto;
    }
</style>
<body>
<div class="layui-tab layui-tab-card" lay-filter="addBaseInfo">
    <ul class="layui-tab-title">
        <li lay-id="1" class="layui-this">基本信息</li>
        <li lay-id="2">家庭成员</li>
        <li lay-id="3">致贫原因及家庭人口情况</li>
        <li lay-id="4">生产生活条件</li>
        <li lay-id="5">变更情况说明</li>
    </ul>

    <div class="layui-tab-content" style="height: 100%;">
        <!-- 基本信息 -->
        <div class="layui-tab-item layui-show">
            <form class="layui-form" lay-filter="form1">
                <input type="hidden" name="baseid" id="baseid" lay-filter="baseid">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">家庭住址:</label>
                        <div class="layui-input-inline">
                            <select id="city" name="city" lay-verify="required" lay-filter="city" lay-search=""
                                    style="width: 20px">
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">市</div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <select id="county" name="county" lay-verify="required" lay-filter="county"
                                    lay-search="" style="width: 20px">
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">县（市、区）</div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <select id="town" name="town" lay-verify="required" lay-filter="town" lay-search=""
                                    style="width: 20px">
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">镇（乡、街道）</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <div class="layui-input-inline">
                                <input type="avillage" name="avillage" lay-verify="required" autocomplete="off"
                                       value="测试行政村"
                                       class="layui-input" lay-filter="avillage"/>
                            </div>
                        </div>
                        <div class="layui-form-mid layui-word-aux">村</div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <div class="layui-input-inline">
                                <input type="nvillage" name="nvillage" lay-verify="required" autocomplete="off"
                                       value="测试自然村屯"
                                       class="layui-input" lay-filter="nvillage"/>
                            </div>
                        </div>
                        <div class="layui-form-mid layui-word-aux">自然村（屯）</div>
                    </div>
                </div>

                <hr class="layui-bg-gray"/>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">联系电话：</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="tel" id="tel" lay-verify="required|phone" autocomplete="off"
                                   value="13222221111"
                                   class="layui-input" lay-filter="tel">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">开户银行：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="dpst_bk" id="dpst_bk" autocomplete="off" class="layui-input"
                                   placeholder="（选填）" lay-filter="dpst_bk">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">银行卡号：</label>
                        <div class="layui-input-inline" style="width:260px;">
                            <input type="text" name="bk_num" id="bk_num" autocomplete="off" class="layui-input"
                                   placeholder="（选填）" lay-filter="bk_num">
                        </div>
                    </div>
                </div>

                <hr class="layui-bg-gray"/>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: auto">贫困户属性：</label>
                        <div class="layui-input-inline">
                            <!--<input type="text" name="pkhsx" lay-verify="required" autocomplete="off"-->
                            <!--class="layui-input">-->
                            <select name="family_attr" id="family_attr" lay-verify="required" lay-filter="family_attr" style="width: 20px">
                                <option value="1">一般贫困户</option>
                                <option value="2">低保贫困户</option>
                                <option value="3">特困供养贫困户</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: auto">计划脱贫年度：</label>
                        <div class="layui-input-inline">
                            <input id="poverty_relief_tm" type="text" name="poverty_relief_tm" lay-verify="required"
                                   autocomplete="off" value="2020"
                                   class="layui-input" placeholder="yyyy" lay-filter="poverty_relief_tm">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">返贫年度：</label>
                        <div class="layui-input-inline">
                            <input id="poverty_rtn_tm" type="text" name="poverty_rtn_tm" lay-verify="required"
                                   autocomplete="off" value="2018"
                                   class="layui-input" placeholder="yyyy" lay-filter="poverty_rtn_tm">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">返贫原因：</label>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" id="poverty_rtn_rsn" name="poverty_rtn_rsn" lay-verify="required"
                                       autocomplete="off" value="因学"
                                       class="layui-input" lay-filter="poverty_rtn_rsn">
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: auto">是否军烈属：</label>
                        <div class="layui-input-inline">
                            <select name="is_martyrsfamily" id="is_martyrsfamily" lay-verify="required" lay-filter="is_martyrsfamily">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr class="layui-bg-gray"/>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: auto">是否易地扶贫搬迁户：</label>
                        <div class="layui-input-inline">
                            <select name="is_relocated" id="is_relocated" lay-verify="required" autocomplete="off" lay-filter="is_relocated">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: auto">搬迁方式：</label>
                        <div class="layui-input-inline">
                            <input type="text" id="relocated_way" name="relocated_way" lay-verify="required"
                                   autocomplete="off"
                                   class="layui-input" value="测试搬迁方式" lay-filter="relocated_way"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">搬迁地址：</label>
                    <div class="layui-input-block">
                        <input type="text" id="relocated_addr" name="relocated_addr" lay-verify="required"
                               placeholder="" autocomplete="off"
                               class="layui-input" value="测试搬迁地址" lay-filter="relocated_addr"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit lay-filter="base1">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 家庭成员 -->
        <div class="layui-tab-item">
            <table class="layui-table-cell" id="tableMember" lay-filter="tableMember"></table>
        </div>
        <!-- 致贫原因及家庭人口情况 -->
        <div class="layui-tab-item">
            <form class="layui-form" lay-filter="form3">
                <input type="hidden" name="additionid" id="additionid" lay-filter="additionid"/>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 120px">致贫原因1<span
                                style="color: red">（必填）</span></label>
                        <div class="layui-input-inline">
                            <select id="poverty_causes1" name="poverty_causes1"
                                    class="layui-unselect layui-form-select" style="width: 100%;"
                                    lay-verify="required" lay-filter="poverty_causes1">
                                <option value="">请选择</option>
                                <option value="1">因病</option>
                                <option value="2">因残</option>
                                <option value="3">因学</option>
                                <option value="4">因灾</option>
                                <option value="5">因婚</option>
                                <option value="6">缺土地</option>
                                <option value="7">缺水</option>
                                <option value="8">缺技术</option>
                                <option value="9">缺劳力</option>
                                <option value="10">缺资金</option>
                                <option value="11">交通条件落后</option>
                                <option value="12">自身发展动力不足</option>
                                <option value="13">因丧</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 120px">致贫原因2（选填）</label>
                        <div class="layui-input-inline">
                            <select id="poverty_causes2" name="poverty_causes2"
                                    class="layui-unselect layui-form-select" style="width: 100%;"
                                    lay-filter="poverty_causes2">
                                <option value="">请选择</option>
                                <option value="1">因病</option>
                                <option value="2">因残</option>
                                <option value="3">因学</option>
                                <option value="4">因灾</option>
                                <option value="5">因婚</option>
                                <option value="6">缺土地</option>
                                <option value="7">缺水</option>
                                <option value="8">缺技术</option>
                                <option value="9">缺劳力</option>
                                <option value="10">缺资金</option>
                                <option value="11">交通条件落后</option>
                                <option value="12">自身发展动力不足</option>
                                <option value="13">因丧</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 120px">致贫原因3（选填）</label>
                        <div class="layui-input-inline">
                            <select id="poverty_causes3" name="poverty_causes3"
                                    class="layui-unselect layui-form-select" style="width: 100%;"
                                    lay-filter="poverty_causes3">
                                <option value="">请选择</option>
                                <option value="1">因病</option>
                                <option value="2">因残</option>
                                <option value="3">因学</option>
                                <option value="4">因灾</option>
                                <option value="5">因婚</option>
                                <option value="6">缺土地</option>
                                <option value="7">缺水</option>
                                <option value="8">缺技术</option>
                                <option value="9">缺劳力</option>
                                <option value="10">缺资金</option>
                                <option value="11">交通条件落后</option>
                                <option value="12">自身发展动力不足</option>
                                <option value="13">因丧</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 120px">年初家庭人口数</label>
                        <div class="layui-input-inline">
                            <input id="household_num_Jan" name="household_num_Jan" class="layui-input" lay-filter="household_num_Jan"/>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 120px">年底家庭人口数</label>
                        <div class="layui-input-inline">
                            <input id="household_num_Dec" name="household_num_Dec" class="layui-input" lay-filter="household_num_Dec"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit lay-filter="base3">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 生产生活条件 -->
        <div class="layui-tab-item">
            <form class="layui-form" lay-filter="form4">
                <input type="hidden" name="conditionid" id="conditionid" lay-filter="conditionid"/>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">耕地面积（亩）</label>
                        <div id="area_cultivated" class="layui-input-inline" style="width: 60px">
                            <input name="area_cultivated" class="layui-input" style="width: 60px"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">林地面积（亩）</label>
                        <div id="area_woodland" class="layui-input-inline" style="width: 60px">
                            <input name="area_woodland" class="layui-input" style="width: 60px"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">退耕还林面积（亩）</label>
                        <div id="area_turninto" class="layui-input-inline" style="width: 60px">
                            <input name="area_turninto" class="layui-input" style="width: 60px"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">林果面积（亩）</label>
                        <div id="area_fruit" class="layui-input-inline" style="width: 60px">
                            <input name="area_fruit" class="layui-input" style="width: 60px"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">牧草地面积（亩)</label>
                        <div id="area_foragegrass" class="layui-input-inline" style="width: 60px">
                            <input name="area_foragegrass" class="layui-input" style="width: 60px"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">水面面积（亩）</label>
                        <div id="area_waters" class="layui-input-inline" style="width: 60px">
                            <input name="area_waters" class="layui-input" style="width: 60px"/>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">加入农民专业合作社</label>
                        <div id="is_cooperative" class="layui-input-inline" style="width: 60px">
                            <select name="is_cooperative" class="layui-input" style="width: 60px">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">有龙头企业带动</label>
                        <div id="get_leaded" class="layui-input-inline" style="width: 60px">
                            <select name="get_leaded" class="layui-input" style="width: 60px">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">致富带头人带动</label>
                        <div id="get_pioneer" class="layui-input-inline" style="width: 60px">
                            <select name="get_pioneer" class="layui-input" style="width: 60px">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">通生活用电</label>
                        <div id="get_electric" class="layui-input-inline" style="width: 60px">
                            <select name="get_electric" class="layui-input" style="width: 60px">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">通广播电视</label>
                        <div id="get_television" class="layui-input-inline" style="width: 60px">
                            <select name="get_television" class="layui-input" style="width: 60px">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">解决安全饮用水</label>
                        <div id="get_potablewater" class="layui-input-inline" style="width: 60px">
                            <select name="get_potablewater" class="layui-input" style="width: 60px">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">有卫生厕所</label>
                        <div id="get_toilet" class="layui-input-inline" style="width: 60px">
                            <select name="get_toilet" class="layui-input" style="width: 60px">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">与村主干路距离(公里)</label>
                        <div id="distance_mainroad" class="layui-input-inline" style="width: 60px">
                            <input name="distance_mainroad" class="layui-input" style="width: 60px"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">入户路类型</label>
                        <div id="type_road" class="layui-input-inline" style="width: 100px">
                            <select name="type_road" class="layui-input" style="width: 100px">
                                <option value="0">请选择</option>
                                <option value="1">泥土路</option>
                                <option value="2">砂石路</option>
                                <option value="3">硬化路</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">住房面积</label>
                        <div id="area_housing" class="layui-input-inline" style="width: 60px">
                            <input name="area_housing" class="layui-input" style="width: 60px"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">是否危房户</label>
                        <div id="is_dilapidated" class="layui-input-inline" style="width: 60px">
                            <select name="is_dilapidated" class="layui-input" style="width: 60px">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">危房级别</label>
                        <div id="level_dilapidated" class="layui-input-inline" style="width: 60px">
                            <select name="level_dilapidated" class="layui-input" style="width: 60px">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">危改年度</label>
                        <div id="year_reform" class="layui-input-inline" style="width: 60px">
                            <input name="year_reform" class="layui-input" style="width: 60px"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 140px">主要燃料类型</label>
                        <div class="layui-input-inline" style="width: 100px">
                            <select id="type_fuel" name="type_fuel" class="layui-input" lay-filter="type_fuel"
                                    style="width: 100px">
                                <option value="0">请选择</option>
                                <option value="1">柴草</option>
                                <option value="2">干畜粪</option>
                                <option value="3">煤炭</option>
                                <option value="4">清洁能源</option>
                                <option value="5">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label id="label_type_fuel_other" class="layui-form-label"
                               style="width: 140px; color: gainsboro">具体燃料名称</label>
                        <div class="layui-input-inline" style="width: 160px">
                            <input id="type_fuel_other" name="type_fuel_other" autocomplete="off" lay-filter="type_fuel_other"
                                   class="layui-input layui-disabled" disabled="" style="width: 160px"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit lay-filter="base4">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-tab-item">
            <form class="layui-form" lay-filter="form5">
                <input type="hidden" name="changeid" id="changeid"/>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">变更情况说明</label>
                    <div class="layui-input-block">
                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit lay-filter="base5">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-tab-item">6</div>
    </div>
</div>
</body>
<script type="text/javascript">
    // 赋值函数供父页面调用
    function setBaseId(id) {
        $("#baseid").val(id);
        layui.use(['form'], function(){
            let form = layui.form;
            $.ajax({
                url : '/family/get',
                data : {id : id},
                async : false,
                success : function(res) {
                    let resData = res.data;
                    // console.log(resData);
                    $.ajax({
                        url : "/getRegion",
                        async : false,
                        dataType: 'JSON',
                        success : function (data) {
                            $.each(data, function (index, item) {
                                $("#city").append(new Option(item.name, item.id));
                            });
                            // form.render('select');
                        }
                    });

                    $.ajax({
                        url : "/getRegion",
                        async : false,
                        dataType: 'JSON',
                        data : {id : resData.city},
                        success : function (data) {
                            $.each(data, function (index, item) {
                                $("#county").append(new Option(item.name, item.id));
                            });
                            // form.render('select');
                        }
                    });

                    $.ajax({
                        url : "/getRegion",
                        async : false,
                        dataType: 'JSON',
                        data : {id : resData.county},
                        success : function (data) {
                            $.each(data, function (index, item) {
                                $("#town").append(new Option(item.name, item.id));
                            });
                            // form.render('select');
                        }
                    });

                    form.val('form1', {
                        'city' : resData.city,
                        'county' : resData.county,
                        'town' : resData.town,
                        'avillage' : resData.avillage,
                        'nvillage' : resData.nvillage,
                        'tel' : resData.tel,
                        'dpst_bk' : resData.dpst_bk,
                        'bk_num' : resData.bk_num,
                        'family_attr' : resData.family_attr,
                        'poverty_relief_tm' : resData.poverty_relief_tm,
                        'poverty_rtn_tm' : resData.poverty_rtn_tm,
                        'poverty_rtn_rsn' : resData.poverty_rtn_rsn,
                        'is_martyrsfamily' : resData.is_martyrsfamily,
                        'is_relocated' : resData.is_relocated,
                        'relocated_way' : resData.relocated_way,
                        'relocated_addr' : resData.relocated_addr
                    });

                    form.render();
                }
            });





        });

    }
</script>

<script type="text/html" id="tableMemberToolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add">新增家庭成员</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除家庭成员</button>
    </div>
</script>

<script type="text/html" id="tableMemberBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="/assets/ym/family_edit.js"></script>
</html>