<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>首页 - 钦南区易地搬迁信息管理系统</title>

    <meta name="description" content="responsive photo gallery using colorbox"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/font-awesome/4.5.0/css/font-awesome.min.css}"/>


    <!-- page specific plugin styles -->
    <link rel="stylesheet" th:href="@{/static/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-datepicker3.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-timepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/ui.jqgrid.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-colorpicker.min.css}"/>

    <!-- page specific plugin styles -->
    <link rel="stylesheet" th:href="@{/static/css/colorbox.min.css}" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" th:href="@{/static/css/select2.min.css}"/>

    <!-- text fonts -->
    <link rel="stylesheet" th:href="@{/static/css/fonts.googleapis.com.css}"/>

    <!-- ace styles -->
    <link rel="stylesheet" th:href="@{/static/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style"/>

    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            border-top: 1px solid #E1E1E1;
            overflow-x: auto;
        }

        .frozen-div, .frozen-bdiv {
            background-color: #E4E6E9; /*与网页背景色一致*/
        }
    </style>

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/static/css/ace-part2.min.css}" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/static/css/ace-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/ace-rtl.min.css}"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/static/css/ace-ie.min.css}"/>
    <![endif]-->


    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script th:src="@{/static/js/ace-extra.min.js}"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script th:src="@{/static/js/html5shiv.min.js}"></script>
    <script th:src="@{/static/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body class="no-skin">
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="index.html" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    钦南区易地搬迁信息管理系统
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" th:src="@{/static/images/avatars/user.jpg}" alt="Jason's Photo"/>
                        <span class="user-info">
									<small>欢迎你,</small>
									[(${sessionUser})]
								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#updatePasswordModal">
                                <i class="ace-icon fa fa-cog"></i>
                                修改密码
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="/logout">
                                <i class="ace-icon fa fa-power-off"></i>
                                注销
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">
            <li class="">
                <a href="#" id="toIndex">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 首页 </span>
                </a>

                <b class="arrow"></b>
            </li>

            <!-- 动态生成菜单 -->
            <li th:each="sysMenu : ${rootSysMenuList}">
                <!-- 这里写死判断了，改进思路：通过对比当前URL与菜单的层级关系可避免写死 -->
                <a th:href="@{${sysMenu.url}}" class="dropdown-toggle">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text" th:text="${sysMenu.menuName}">
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li th:each="childMenu : ${sysMenu.childMenuList}"> <!-- 同上 -->
                        <a th:href="@{${childMenu.url}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            [(${childMenu.menuName})]  <!-- 行内写法 -->
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <!-- /section:basics/sidebar.layout.minimize -->
        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
        </script>
    </div>

    <div class="main-content">
        <div class="main-content-inner">

            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/toIndex">首页</a>
                    </li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="搜索 ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">

                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; 选择 皮肤</span>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-navbar" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-navbar"> 固定导航栏</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-sidebar" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-sidebar"> 固定菜单栏</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-breadcrumbs" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-breadcrumbs"> 固定面包屑</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-rtl"> 菜单靠右(左)</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-add-container" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-add-container">
                                    居中
                                    <b>内容</b>
                                </label>
                            </div>
                        </div><!-- /.pull-left -->

                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-hover"> 悬停子菜单</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-compact"> 紧凑菜单栏</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-highlight"> Alt激活选项</label>
                            </div>
                        </div><!-- /.pull-left -->
                    </div><!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->

                <div class="page-header">
                    <h1>
                        首页
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            钦州映像
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- 修改密码的窗口 -->
                        <div>
                            <!--新增角色的窗口-->
                            <div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title red" id="updatePasswordModalLabel">
                                                <label id="addTitle">修改</label>
                                            </h4>
                                        </div>

                                        <div class="modal-body">
                                            <div class="widget-box widget-color-green2">
                                                <div class="widget-header">
                                                    <h4 class="widget-title lighter smaller">
                                                        <span class="smaller-80"></span>
                                                    </h4>
                                                </div>

                                                <div class="widget-body">
                                                    <div class="widget-main padding-8">
                                                        <form class="form-horizontal">
                                                            <div class="form-group">
                                                                <label for="oldPassword" class="col-xs-12 col-xs-3 control-label no-padding-right">原密码</label>
                                                                <div class="col-xs-12 col-sm-9">
                                                                    <div class="clearfix">
                                                                        <input type="password" class="col-xs-12 col-xs-8 form-control" id="oldPassword" name="oldPassword" placeholder="请输入原密码" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="hr hr-dotted"></div>

                                                            <div class="form-group">
                                                                <label for="newPassword" class="col-xs-12 col-sm-3 control-label no-padding-right">新密码</label>
                                                                <div class="col-xs-12 col-sm-9">
                                                                    <div class="clearfix">
                                                                        <input type="password" class="col-xs-12 col-sm-8 form-control" id="newPassword" name="newPassword" placeholder="请输入新密码" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="hr hr-dotted"></div>

                                                            <div class="form-group">
                                                                <label for="newPassword1" class="col-xs-12 col-sm-3 control-label no-padding-right">确认新密码</label>
                                                                <div class="col-xs-12 col-sm-9">
                                                                    <div class="clearfix">
                                                                        <input type="password" class="col-xs-12 col-sm-8 form-control" id="newPassword1" name="newPassword1" placeholder="请确认新密码" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info" data-dismiss="modal">关闭
                                            </button>
                                            <button type="button" class="btn btn-primary" id="updatePasswordBtn">
                                                确定
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->

                            </div>
                        </div>

                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-success">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>

                            <i class="ace-icon fa fa-check green"></i>

                            欢迎使用
                            <strong class="green">
                                钦州市异地搬迁扶贫管理信息系统
                                <small>(v1.4)</small>
                            </strong>,
                            获取更多广西壮族自治区钦州市新闻，请访问 <a href="http://www.gxqzxw.com">广西钦州新闻网</a> 进行获取。
                        </div>

                        <div class="row">

                        </div><!-- /.row -->

                        <div class="hr hr32 hr-dotted"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div>
                            <ul class="ace-thumbnails clearfix">
                                <!-- #section:pages/gallery -->
                                <li>
                                    <a th:href="@{/static/images/qinzhou/Afterligth.jpg}" title="Photo Title" data-rel="colorbox">
                                        <img width="150" height="150" alt="150x150" th:src="@{/static/images/qinzhou/Afterligth-1.jpg}"  />
                                    </a>

                                    <div class="tags">
												<span class="label-holder">
													<span class="label label-info">河流</span>
												</span>

                                        <span class="label-holder">
													<span class="label label-danger">晚霞</span>
												</span>

                                        <span class="label-holder">
													<span class="label label-success">城市</span>
												</span>

                                        <span class="label-holder">
													<span class="label label-warning arrowed-in">绿色</span>
												</span>
                                    </div>

                                    <div class="tools">
                                        <a href="#">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-paperclip"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-pencil"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-times red"></i>
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <a th:href="@{/static/images/qinzhou/CityHead.jpg}" data-rel="colorbox">
                                        <img width="150" height="150" alt="150x150" th:src="@{/static/images/qinzhou/CityHead-1.jpg}" />
                                        <div class="text">
                                            <div class="inner">美丽城空</div>
                                        </div>
                                    </a>
                                </li>

                                <!-- /section:pages/gallery -->

                                <!-- #section:pages/gallery.caption -->
                                <li>
                                    <a th:href="@{/static/images/qinzhou/Field.jpg}" data-rel="colorbox">
                                        <img width="150" height="150" alt="150x150" th:src="@{/static/images/qinzhou/Field-1.jpg}" />
                                        <div class="text">
                                            <div class="inner">漂亮田野</div>
                                        </div>
                                    </a>

                                    <div class="tools tools-bottom">
                                        <a href="#">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-paperclip"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-pencil"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-times red"></i>
                                        </a>
                                    </div>
                                </li>

                                <!-- /section:pages/gallery.caption -->
                                <li>
                                    <a th:href="@{/static/images/qinzhou/Fog.jpg}" data-rel="colorbox">
                                        <img width="150" height="150" alt="150x150" th:src="@{/static/images/qinzhou/Fog-1.jpg}" />
                                        <div class="tags">
                                            <!-- #section:pages/gallery.tags -->
                                            <span class="label-holder">
														<span class="label label-info arrowed">雾气</span>
													</span>

                                            <span class="label-holder">
														<span class="label label-danger">河流</span>
													</span>

                                            <!-- /section:pages/gallery.tags -->
                                        </div>
                                    </a>

                                    <div class="tools tools-top">
                                        <a href="#">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-paperclip"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-pencil"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-times red"></i>
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <div>
                                        <img width="150" height="150" alt="150x150" th:src="@{/static/images/qinzhou/Quay-1.jpg}" />
                                        <div class="text">
                                            <div class="inner">
                                                <span>壮丽码头</span>

                                                <br />
                                                <a th:href="@{/static/images/qinzhou/Quay.jpg}" data-rel="colorbox">
                                                    <i class="ace-icon fa fa-search-plus"></i>
                                                </a>

                                                <a href="#">
                                                    <i class="ace-icon fa fa-user"></i>
                                                </a>

                                                <a href="#">
                                                    <i class="ace-icon fa fa-share"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <a th:href="@{/static/images/qinzhou/River.jpg}" data-rel="colorbox">
                                        <img width="150" height="150" alt="150x150" th:src="@{/static/images/qinzhou/River-1.jpg}" />
                                    </a>

                                    <div class="tools tools-right">
                                        <a href="#">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-paperclip"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-pencil"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-times red"></i>
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <a th:href="@{/static/images/qinzhou/RosyCloud.jpg}" data-rel="colorbox">
                                        <img width="150" height="150" alt="150x150" th:src="@{/static/images/qinzhou/RosyCloud-1.jpg}" />
                                    </a>

                                    <div class="tools">
                                        <a href="#">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-paperclip"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-pencil"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-times red"></i>
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <a th:href="@{/static/images/qinzhou/Technology.jpg}"data-rel="colorbox">
                                        <img width="150" height="150" alt="150x150" th:src="@{/static/images/qinzhou/Technology-1.jpg}" />
                                    </a>

                                    <!-- #section:pages/gallery.tools -->
                                    <div class="tools tools-top in">
                                        <a href="#">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-paperclip"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-pencil"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-times red"></i>
                                        </a>
                                    </div>

                                    <!-- /section:pages/gallery.tools -->
                                </li>
                            </ul>
                        </div><!-- PAGE CONTENT ENDS -->


                        <div class="hr hr32 hr-dotted"></div>



                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Fov</span>
							Application &copy; 2016-2019
						</span>

                &nbsp; &nbsp;
                <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script th:src="@{/static/js/jquery-2.1.4.min.js}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script th:src="@{/static/js/excanvas.min.js}"></script>
<![endif]-->
<script th:src="@{/static/js/jquery.colorbox.min.js}"></script>
<script th:src="@{/static/js/jquery-ui.custom.min.js}"></script>
<script th:src="@{/static/js/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/static/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{/static/js/jquery.sparkline.index.min.js}"></script>
<script th:src="@{/static/js/jquery.flot.min.js}"></script>
<script th:src="@{/static/js/jquery.flot.pie.min.js}"></script>
<script th:src="@{/static/js/jquery.flot.resize.min.js}"></script>
<script th:src="@{/static/js/ace/elements.scroller.js}"></script>
<script th:src="@{/static/js/ace/elements.colorpicker.js}"></script>
<script th:src="@{/static/js/ace/elements.fileinput.js}"></script>
<script th:src="@{/static/js/ace/elements.typeahead.js}"></script>
<script th:src="@{/static/js/ace/elements.wysiwyg.js}"></script>
<script th:src="@{/static/js/ace/elements.spinner.js}"></script>
<script th:src="@{/static/js/ace/elements.treeview.js}"></script>
<script th:src="@{/static/js/ace/elements.wizard.js}"></script>
<script th:src="@{/static/js/ace/elements.aside.js}"></script>
<script th:src="@{/static/js/ace/ace.js}"></script>
<script th:src="@{/static/js/ace/ace.ajax-content.js}"></script>
<script th:src="@{/static/js/ace/ace.touch-drag.js}"></script>
<script th:src="@{/static/js/ace/ace.sidebar.js}"></script>
<script th:src="@{/static/js/ace/ace.sidebar-scroll-1.js}"></script>
<script th:src="@{/static/js/ace/ace.submenu-hover.js}"></script>
<script th:src="@{/static/js/ace/ace.widget-box.js}"></script>
<script th:src="@{/static/js/ace/ace.settings.js}"></script>
<script th:src="@{/static/js/ace/ace.settings-rtl.js}"></script>
<script th:src="@{/static/js/ace/ace.settings-skin.js}"></script>
<script th:src="@{/static/js/ace/ace.widget-on-reload.js}"></script>
<script th:src="@{/static/js/ace/ace.searchbox-autocomplete.js}"></script>

<!-- ace scripts -->
<script th:src="@{/static/js/ace-elements.min.js}"></script>
<script th:src="@{/static/js/ace.min.js}"></script>


<!-- 引入JQuery提示库 start-->
<script th:src="@{/static/js/jquery.tips.js}"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {


        //去首页方法
        $("#toIndex").on("click",function () {
            window.location.href="/toIndex";
        });

        //修改密码方法
        $("#updatePasswordBtn").on("click",function () {
            if($("#newPassword").val()!=$("#newPassword1").val()){
                $("#newPassword1").tips({
                    side : 3,
                    msg : '两次输入的密码不一致！',
                    bg : '#ff1642',
                    time : 3
                });
            }else if($("#newPassword").val().length<6){
                $("#newPassword1").tips({
                    side : 3,
                    msg : '密码长度必须大于等于6位！',
                    bg : '#ff1642',
                    time : 3
                });
            } else{
                var oldPassword = $("#oldPassword").val();
                var newPassword = $("#newPassword").val();
                $.ajax({
                    type: "POST",//请求方式为POST
                    url: "/user/password",//检验url
                    data:{
                        "oldPassword":oldPassword,
                        "newPassword":newPassword
                    },
                    dataType: 'json',//数据类型为JSON类型
                    cache: false,//关闭缓存
                    success: function (data) {
                        if(data.status==1){
                            alert("密码修改成功！");
                        }else if(data.result=="errorPw"){
                            $("#oldPassword").focus();
                            $("#oldPassword").tips({
                                side : 3,
                                msg : '原密码输入错误！',
                                bg : '#ff1642',
                                time : 3
                            });
                        }else {
                            alert("发生不可预测的错误，请联系管理员！");
                        }
                    }//响应成功
                })
            }
        });


        var $overflow = '';
        var colorbox_params = {
            rel: 'colorbox',
            reposition:true,
            scalePhotos:true,
            scrolling:false,
            previous:'<i class="ace-icon fa fa-arrow-left"></i>',
            next:'<i class="ace-icon fa fa-arrow-right"></i>',
            close:'&times;',
            current:'{current} of {total}',
            maxWidth:'100%',
            maxHeight:'100%',
            onOpen:function(){
                $overflow = document.body.style.overflow;
                document.body.style.overflow = 'hidden';
            },
            onClosed:function(){
                document.body.style.overflow = $overflow;
            },
            onComplete:function(){
                $.colorbox.resize();
            }
        };

        $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
        $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


        $(document).one('ajaxloadstart.page', function(e) {
            $('#colorbox, #cboxOverlay').remove();
        });

    })
</script>
</body>
</html>
